<div class="container">
  <app-form-header
    [title]="'ChorePoint'"
    [logo]="'🏆'"
    tagline="Manage your family's chores"
    [subtitle]="'👨‍👩‍👧 Parent Portal'"
  />

  <div class="auth-card">
    <div class="auth-title">Create account</div>
    <div class="auth-subtitle">Set up your parent profile in seconds</div>

    <form [formGroup]="form" (submit)="submit()">
      <div class="field-row">
        <app-form-field
          label="First Name"
          icon="👤"
          type="text"
          placeholder="John"
          [control]="form.controls['firstName']"
        >
        </app-form-field>
        <app-form-field
          label="Last Name"
          icon="👤"
          type="text"
          placeholder="Smith"
          [control]="form.controls['lastName']"
        >
        </app-form-field>
      </div>
      <app-form-field
        label="Email Address"
        icon="📧"
        type="email"
        placeholder="you@example.com"
        [control]="form.controls['email']"
      >
      </app-form-field>

      <app-password-input
        label="Password"
        icon="🔑"
        placeholder="Create a strong password"
        [control]="form.controls['password']"
        [showStrengthBar]="true"
      />

      <div class="checkbox-row">
        <div
          class="custom-check"
          [class.checked]="form.controls.terms.value"
          (click)="form.controls.terms.setValue(!form.controls.terms.value)"
        ></div>

        <div class="check-text">
          I agree to the <a>Terms of Service</a> and <a>Privacy Policy</a>.
        </div>
      </div>
      <button type="submit" class="btn-primary" [disabled]="loading() || form.invalid">
        @if (loading()) {
          Creating Account <app-loading-emoji />
        } @else {
          Create Account 🎉
        }
      </button>
    </form>

    <div class="switch-link">Already have an account? <a>Sign in</a></div>
  </div>
</div>
