<div class="section-header">
  <div class="section-title">This Week's Leaderboard</div>
</div>
<div class="leaderboard" style="margin-bottom: 20px">
  <div class="leaderboard-header">
    <span style="font-size: 18px">🏆</span>
    <div class="leaderboard-title">Top Performers</div>
  </div>
  @for (kid of kids; track kid.id; let i = $index) {
    <div class="leaderboard-row">
      <div class="lb-rank" [class]="rankClasses[i]">{{ rankEmojis[i] }}</div>
      <div class="lb-avatar avatar-blue">{{ kid.avatar }}</div>
      <div class="lb-name">{{ kid.name }}</div>
      <div class="lb-pts">{{ kid.totalPoints }} pts</div>
    </div>
  }
</div>
