@if (vm$ | async; as vm) {
  <div class="header">
    <div class="header-top">
      <div class="page-title">My Kids</div>
      <div class="add-button" title="Add child">+</div>
    </div>
  </div>

  <div class="content">
    <app-kid-summary
      [summary]="{
        kidCount: vm.kids.length,
        choresDone: vm.summaryStats.choresDone,
        totalPoints: vm.summaryStats.totalPoints,
      }"
    />

    @if (vm.kids.length > 0) {
      <app-leaderboard [kids]="vm.kids" />
    }

    <div class="section-header">
      <div class="section-title">Profiles</div>
    </div>

    <div class="kids-list">
      @if (vm.kids.length > 0) {
        @for (kid of vm.kids; track kid.id) {
          <app-kid-profile [kid]="kid" />
        }
      }

      <div [routerLink]="'/dashboard/kids/add'" class="add-kid-card">
        <div class="add-kid-icon">➕</div>
        <div class="add-kid-text">Add another child</div>
      </div>
    </div>
  </div>
} @else {
  <app-loading-screen />
}
